# 使用淘宝/腾讯镜像源下载 Electron
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/

# 使用淘宝/腾讯镜像源下载打包工具 (NSIS, winCodeSign等)
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/