:root {
  --el-color-primary: #1890ff;
  --el-color-primary-light-3: #4da9ff;
  --el-color-primary-light-5: #7dc2ff;
  --el-color-primary-light-7: #aedbff;
  --el-color-primary-light-8: #c6e7ff;
  --el-color-primary-light-9: #e8f4ff;
  --el-color-primary-dark-2: #1373cc;
}
